{% extends "user/newtemp.html" %}
{% block body %}


{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{#<body>#}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
        <th>#</th>
      <th>FileName</th>
      <th>Date</th>
      <th>&nbsp;</th>

    </tr>
      {% for i in data %}
    <tr>
    <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i['file'] }}</td>
        <td>{{ i['date'] }}</td>
      <td><a href="/downloadfile/{{ i['file_id'] }}/{{ i['file'] }}" class="btn btn-danger">download</a></td>

    </tr>
      {% endfor %}
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}